body
{
 padding:0;
 margin:0;
 animation: fadeInAnimation ease 0.75s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}  


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.stat {
    color:white;
    position: absolute;
    top: 70%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -0%);
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
    font-size: 20px;
    font-size: 2.1vw;
    font-weight: 200;
}



.box {
    position: absolute; 
    top: 70%;
    width: 55%; 
    height: 20%; 
    left: 50%;
    transform: translate(-50%, -0%);
    background-color: gray;
    background-image:
    linear-gradient(
      slategray, mintcream
    );
    opacity: 0.4;
    transition-duration: 0.3s;

    border-radius: 2rem;
  }

.box:hover {
  position: absolute; 
  top: 70%;
  width: 55%; 
  height: 22%; 
  left: 50%;
  background-color: gray;
  background-image:
  linear-gradient(
    slategray, mintcream
  );
  opacity: 0.5;
  transition-duration: 0.3s;
}

/*.stat:hover ~ .box {
  position: absolute; 
  top: 79%;
  width: 55%; 
  height: 19%; 
  left: 2.5%;
  background-color: gray;
  background-image:
  linear-gradient(
    slategray, mintcream
  );
  opacity: 0.55;
  transition-duration: 0.3s;

}*/


form{
  grid-column: 5/13;
  grid-row: auto;
  width: 70%;
  left: 15%;
  position: absolute;
  top: 7rem;

  display: flex;


}

#searchBar{
  flex-grow: 3;
  color: rgba(128, 128, 128, 0.685);
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.15rem;
  transition-duration: 0.4s;
  
  grid-column:1/5;
  grid-row: auto;

  border-radius: 3rem;
  padding: 1.2rem;
  border: 3px inset rgba(150, 150, 150, .1);
  background-clip: padding-box;
  
  
}

#searchBar:hover{
  flex-grow: 3;
  color: rgba(128, 128, 128, 0.685);
  background-color: white;
  font-size: 1.15rem;
  transition-duration: 0.4s;
  
  grid-column:1/5;
  grid-row: auto;

  border-radius: 3rem;
  padding: 1.2rem;
}

input#searchBar{
  color: black;
  flex-grow: 4;
}

input#searchBar:hover{
  color: black;
  flex-grow: 4;
}


#searchBar:focus{
  outline: none;
}



/*
#searchButton{
  background-color: white;
  flex-grow: 2;
  flex-basis: 1;
  font-size: 1rem;

  grid-column:5/6;
  grid-row: auto;
  margin-left: .5rem;

  border-radius: 2rem;
  
  border: none;
  
  display: none;
}

#searchButton:hover{
  border-color: black;
}
*/